@media (prefers-reduced-motion: no-preference) {
    * {
        scroll-behavior: smooth;
    }
}

:root{
    --light: #f1faee;
    --color-1: #307473;
    --color-2: #1e1e24;
    --second: #98528d;
    --accent-1: #b887b0;
    --accent-2: #a8dadc;
    
}

body {
    background: var(--light);
    color: var(--color-2);
    font-family: Helvetica;
    margin: 0;
}

header {
    width: 100%;
    height: 80px;
    background-color: var(--second);
    position: fixed;
    top: 0;
    left: 0;
    
}

#header-img {
    width: max(100px, 10vw);
    height: auto;
    position: relative;
    float: left;
    top: 10px;
}

h1 {
    top: 20px;
    left: 200px;
    right: 200px;
    position: relative;
    color: var(--light);
    font-size: min(5vw, 1.2em);
    position: absolute;
  }

nav {
    width: 50%;
    max-width: 300px;
    height: 50px;
    position: relative;
    top: 5px;
    float: right;
    display: flex;
    justify-content: space-evenly;
}

nav>ul {
    padding-inline-start: 0;
    margin-block: 0;
    height: 100%;
}

nav>ul>li {
    color: var(--light);
    margin: 0 0.2rem;
    padding: 0.2rem;
    display: block;
}

nav>ul>li:hover {
    text-decoration: underline;
    color: var(--accent-2);
    cursor: pointer;
}

li>a {
    color: inherit;
    text-decoration: none;
}

main{
    padding-top: 50px;
    margin-top: 80px;;
    
}

section{
    width: auto;
    height: 50vh;
}

.first{
    background-color: var(--light);
}

.second{
    background-color: var(--color-1);
}

.third{
    background-color: var(--color-2);
    color: var(--light);
}
fieldset{
    height: 90%;
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

fieldset .f-one{
    justify-content: flex-end;
    align-self: flex-end;
    padding-bottom: 0;
    margin: auto;
}

fieldset .f-two{
    justify-content: start;
    align-self: flex-start;
    padding-right: 0;

}

.f-three{
    justify-content: center;
}

button{
    margin: 0;
    padding: 0;
}

